
# This group is read both both by the client and the server
# use it for options that affect everything

# [client]
[client-server]
# port            = 3306
# socket          = /var/run/mysqld/mysqld.sock

[mysqld_safe]
# socket          = /var/run/mysqld/mysqld.sock
# nice            = 0

# This group is read by the server
# pid-file        = /var/run/mysqld/mysqld.pid
# socket          = /var/run/mysqld/mysqld.sock
# basedir         = /usr
# tmpdir          = /tmp
# lc_messages_dir = /usr/share/mysql
# lc_messages     = en_US
# skip-external-locking
# default_storage_engine  = InnoDB
# Disabling symbolic-links is recommended to prevent assorted security risks
# user            = mysql

[mysqld]
# user            = mysql
# port            = 3306
# datadir         = /var/lib/mysql
bind_address    = 0.0.0.0
# symbolic-links  = 0

# include all files from the config directory
# !includedir /etc/my.cnf.d

[mysql]
# no-auto-rehash
